# the web framework we use
Django>=5.0.2
# for doing math and working with arrays
numpy>=1.24.0
# for our machine learning model
scikit-learn>=1.3.0
# for saving and loading our model
joblib>=1.3.0
# for connecting to MySQL database
mysqlclient>=2.2.0
# for handling images
Pillow
# for loading environment variables
python-dotenv==1.0.1 